<%- include("partials/header") -%>

<h1><%= title %></h1>
<p>This is <%= name %>'s page</p>

<% if (title == "Projects") { %>
    <%- include("partials/projects") -%>
<% } else if (title == "Services") { %>
    <%- include("partials/services") -%>
<% } else if (title == "...") { %>

<%- include("partials/footer") -%>
