<%- include("../partials/header") %>
<!-- Content for the Add_Edit page -->
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1><%= title %></h1>

      <form class="form" method="POST">
        <div class="form-group">
          <input type="hidden" name="id" value="<%= contact._id %>" />
          <label for="nameTextField">Contact Name</label>
          <input
            type="text"
            class="form-control"
            id="nameTextField"
            placeholder="Enter the Contact Name"
            name="name"
            value="<%= contact.contactName %>"
            required
          />
        </div>
        <br />
        <div class="form-group">
          <label for="numberTextField">Contact Number</label>
          <input
            type="tel"
            class="form-control"
            id="numberTextField"
            name="number"
            value="<%= contact.contactNumber %>"
            required
          />
        </div>
        <br />
        <div class="form-group">
          <label for="statusTextField">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="emailTextField"
            name="email"
            value="<%= contact.email %>"
          />
        </div>
        <br />

        <button class="btn btn-primary" type="submit">
          <i class="fas fa-edit"></i>
          Submit
        </button>

        <% if (contact.contactName) { %>
        <a href="/contacts/delete/<%= contact._id %>" class="btn btn-danger">
          <i class="fas fa-trash-alt"></i>
          Delete</a
        >
        <% } %>

        <a href="/contacts/list" class="btn btn-warning">
          <i class="fas fa-undo"></i>
          Cancel
        </a>
      </form>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
